/* Global Styles */

html,
body {
    height: 100%;
    background-color: floralwhite;
}

body {
    padding-top: 50px;
}

label,
input {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    text-align: center;
}

/* Class Styles */

.curs {
    font-family: 'Homemade Apple', cursive, sans-serif;
}

.col-md-4 {
    font-family: 'Raleway', sans-serif;
}

.img-responsive {
    width: 750px;
    height: 400px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.homeImg {
    height: 3.5vh;
    width: auto;
    margin: auto;
}

/* Lightbox Styles */

#overlay {
    background-color: lightgray;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 999;
}

#overlay img {
    margin-top: 10%;
    z-index: 1000;
    height: 500px;
    width: 550px;
}

#overlay p {
    color: black;
}

/* Contact Styles */
.textbox {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    vertical-align: text-top;
}

.textarea {
    padding: 2vh;
    width: 500px;
    height: 250px;
}

.submission {
    text-align: center;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .img-related {
        margin-bottom: 30px;
        width: 150%;
}


@media(max-width:770px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
    
    .navbar {
        padding-bottom: 0;
    }
    
    
}


@media(max-width: 500px) {

    .textarea {
        width: 300px;
        height: 100px;
    }
    
    .carousel-caption {
        font-size: 100%;
    }
}

   